@mixin flexLayout($direction: row, $justify: normal, $align: normal){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    @content;
}

@mixin gridLayout($row: none, $column: none, $rowGap: 0px, $columnGap: 0px){
    display: grid;
    grid-template-rows: $row;
    grid-template-columns: $column;
    grid-row-gap: $rowGap;
    grid-column-gap: $columnGap;
    @content;
}
<<<<<<< HEAD:src/styles/abstract/mixins.scss

@mixin littleIcon($height, $width){
    height: $height;
    $width: $width;
    @content;
}

@mixin horizontalLine($width, $color, $offset){
=======
@mixin horizontalLine($width,$color,$offset){
>>>>>>> Before merging to master:src/style/abstract/_mixins.scss
    content: '';
    height: 3px;
    width: $width;
    background-color: $color;
    transform: $offset;
}
<<<<<<< HEAD:src/styles/abstract/mixins.scss
=======

@mixin removeButtonDefault(){
    // change the button default
    border:none;
    cursor: pointer;
}
>>>>>>> Before merging to master:src/style/abstract/_mixins.scss
