// $color-green: #55c57a;
$color-green: #44b687;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-green-moredark: #21946e;
$color-green-grassgreen: #319923;
$color-green-armygreen: #4b5320;
$color-grey:#dadada;
$color-grey-light: #f0efef;
$color-grey-dark: rgb(122, 120, 120);
$color-error: #ED4337;
$color-orange-light: #ffb900;
$color-blue-light: #00B4CC;
$color-blue-nice: royalblue;
$color-blue-dark: #334758;
// #44b687