@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/variables.scss';

.search--bar {
    @include flexLayout($align: center);
    width: 40%;
    &__input{
        flex: 0 0 60%; // flex-basis=80% means this element will be 80% as wide as its parent
        align-self: normal;
        margin-right: 1rem;
        border: 7px solid $color-blue-light;
        border-radius: 5px;
        color: $color-green-light;
        padding: .9rem;
        &::placeholder{
            font-weight: bold;
        }
        &:focus{
            color: $color-blue-light;
        }
    }
    &__btn {
        flex: 0 0 10%;
        align-self: normal;
        @include removeButtonDefault();
        background-color: $color-blue-light;
        border: 5px solid $color-blue-light;
        border-radius: 5px;
        font-size: 1.4rem;
        transform: translateX(10px); // overlap the input
        color: white;
    }
}