.home{
    @include gridLayout($column:10vw [home-start] 80vw [home-end] 10vw,$row:1fr 3fr){
       justify-content: center;
    };
    background-color: $color-green;
    padding: 2rem;

    &__cards{
        @include gridLayout($column:repeat(auto-fit,minmax(7rem,1fr)));
        grid-column: home-start/home-end;
        grid-row: 2/3;
    }

    &__card{
        background: {
            color: white;
        }

        font-size: 4rem;
        color:black;
        padding: 3rem;
    }
}