@import "../../../styles/abstract/mixins.scss";
@import "../../../styles/abstract/variables.scss";

.cards{
    @include gridLayout($column:minmax(3rem,5%) 80% minmax(3rem,5%),$rowGap: 7rem ){
        justify-items: center;
        justify-content: center;
    };
    padding:5rem;
    background-color: $color-grey-light;
    &__header{
        @include flexLayout($direction:column,$align:center);
        font-size: 5rem;
        color: $color-green-moredark;
        grid-column: 2/3;
        &::after{
            @include horizontalLine(16rem,$color-green-moredark,translateY(4rem));
        }
    }
    &__intro{
        font-size:2rem;
        grid-column: 2/3;
        color:$color-grey-dark;
    }
    &__cardsArea{
        @include gridLayout($column: repeat(auto-fit,minmax(10rem,1fr)),$columnGap:2rem);
        grid-column: 2/3;
    }
}


.customedCard{
    @include gridLayout($row:1fr 3fr 1fr){
        justify-items: center;
    };
    color:black;
    box-shadow: 10px 10px 20px grey;
    border-radius: 15px;
    padding: 3rem;
    &__titleBox{
        @include flexLayout($align:center){
            justify-content: center;
        }
    }
    &__title{
        font-size: 2.5rem;
        margin: 0 0;
        text-align: center;
        color:$color-green-dark;
    }
    &__description{
        @include flexLayout($direction:column,$align:center);
        font-size:2rem;
        padding:1rem;
        &::before{
            @include horizontalLine(16rem,$color-green-dark,translateY(-2rem));
        }
    }
    &__btn{
        @include removeButtonDefault();
        display: inline-block;
        height:70%;
        padding: 1rem 3rem;
        font-size: 2rem;
        border-radius: 6rem;
        transition: all .3s;
        background-color: $color-green-moredark;
        color: white;
        align-self: center;
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 1rem 2rem rgba(black,.2);
        }
        // goes down when pushed
        &:active{
            transform: translateY(2px);
        }
    }
}

