@import '../../styles/abstract/variables.scss';
@import '../../styles/abstract/mixins.scss';

.nav-bar {
    @include flexLayout($justify: space-between, $align: center);
    font-size: 2rem;
    padding: 3rem 4.5rem;
    color: white;
    background-color: $color-blue-dark;
    // background-color: $color-blue-nice;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.60);
    position: relative; // to make box-shadow visible
    &__brand {
        @include removeLinkDefault($color: currentcolor);
        color: white;
    }
    &__dropdown {
        display: flex;
        align-items: center;
    }
}