// for default
$primary-color: #44b687;


// for button default
$btn-font-weight: 800;
$btn-primary-bg: #ffb900;
$btn-default-color: #fff;

// for menu dark mode
$menu-dark-bg: #334758;
// $menu-dark-item-active-bg: #44b687;
