@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/variables.scss';

.addTeamFormContainer {
    @include gridLayout($column: 30vw 1fr 30vw, $row:25vh 1fr 25vh);
    background-color: $color-green;
}

.addTeamForm {
    @include flexLayout($direction: column, $justify:space-between);
    padding: 5rem;
    border-radius: 3rem;
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 2rem;

    &__inputGroup {
        @include gridLayout($column: 1fr 1fr, $columnGap:2rem);
        &:not(:last-child){
            margin-bottom: 6rem;
        }
        &__label {
            grid-column: 1/2;
            color: $color-green-moredark;

            &--teamLogo {
                grid-column: 1/3;
                justify-self: center;
                padding: 1.5rem;
                border-radius: 3rem;
                border: 3px solid $color-green-moredark;
                cursor: pointer;
                transition: all .5s;
                &:hover{
                    color:white;
                    background-color: $color-green-dark;
                }
            }
        }

            &__input {
                grid-column: 2/3;

                &--teamLogo {
                    grid-column: none;
                    opacity: 0;
                    position: absolute;
                    top: -10000000px; // byebye actual ugly input
                }
            }

            &__error {
                grid-column: 2/3;
                font-size: 1.5rem;
                color: $color-error;
            }

    }

        &__link {
            @include flexLayout($align:center);
            height: 8rem;
            &,
            &:hover {
                color: currentColor;
                text-decoration: none;
            }
        }

        &__buttonGroup {
            @include flexLayout($justify: space-around);
        }
}
